1.) Spark Dataframe Basics
i.) Use the starter code to create a pandas dataframe.

In [1]:
import numpy as np
import pandas as pd
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [2]:
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

ii.) Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [3]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

iii.) Show the first 3 rows of the dataframe.

In [5]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

iv.) Show the first 7 rows of the dataframe.

In [7]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

v.) View a summary of the data using .describe.

In [8]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

vi.) Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [9]:
df.select('n','abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

vii.) Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [10]:
df.select('group','abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

viii.) Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [12]:
col = df.abool
col

Column<'abool'>

In [13]:
df.select('group', col.alias('a_boolean_values')).show(3)

+-----+----------------+
|group|a_boolean_values|
+-----+----------------+
|    z|           false|
|    x|           false|
|    z|           false|
+-----+----------------+
only showing top 3 rows

ix.) Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [15]:
col = df.n

In [16]:
df.select('group', col.alias('a_numeric_value')).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

2.) Column Manipulation

In [17]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

ii.) Use .select to add 4 to the n column. Show the results.

In [18]:
df.select(df.n +4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

iii.) Subtract 5 from the n column and view the results.

In [19]:
df.select(df.n -5).show(5)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
+-------------------+
only showing top 5 rows

iv.) Multiply the n column by 5. View the results along with the original numbers.

In [20]:
col = df.n * 5
col

Column<'(n * 5)'>

In [21]:
df.select('n', col.alias('n x 5')).show(5)

+--------------------+--------------------+
|                   n|               n x 5|
+--------------------+--------------------+
|  -0.712390662050588| -3.5619533102529397|
|   0.753766378659703|  3.7688318932985148|
|-0.04450307833805...|-0.22251539169026727|
| 0.45181233874578974|   2.259061693728949|
|  1.3451017084510097|  6.7255085422550485|
+--------------------+--------------------+
only showing top 5 rows

v.) Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [22]:
col = df.n * -1
col

Column<'(n * -1)'>

In [23]:
df = df.select('n', col.alias('n2'))

In [24]:

df.show(5)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
|  1.3451017084510097| -1.3451017084510097|
+--------------------+--------------------+
only showing top 5 rows

vi.) Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [26]:
col = df.n ** 2
col

Column<'POWER(n, 2)'>

In [27]:
df = df.select('n','n2', col.alias('n3'))

In [28]:
df.show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

vii.) What happens when you run the code below?

In [29]:
#this will not do anything
# df.group + df.abool

viii.) What happens when you run the code below? What is the difference between this and the previous code sample?

In [31]:
# will also not do anything
df.select(df.group + df.abool)

AttributeError: 'DataFrame' object has no attribute 'group'

ix.) Try adding various other columns together. What are the results of combining the different data types?

In [32]:
#adds the columns together
df.select(df.n2 + df.n3).show(5)

+--------------------+
|           (n2 + n3)|
+--------------------+
|   1.219891117427463|
|-0.18560262506194025|
|0.046483602319616374|
|-0.24767794930284948|
|  0.4641968976268154|
+--------------------+
only showing top 5 rows

3.) Type Casting

i.) Use the starter code above to re-create a spark dataframe.

In [33]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

ii.) Use .printSchema to view the datatypes in your dataframe.

In [35]:
df.printSchema

iii.) Use .dtypes to view the datatypes in your dataframe.

In [36]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

iv.) What is the difference between the two code samples below?

df.abool.cast('int) casts abool as an int df.select(df.abool.cast('int')).show() this one casts abool as an int and shows us the results

In [37]:
#casts abool as int
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

v.) Use .select and .cast to convert the abool column to an integer type. View the results.

In [38]:
#shows us the results
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

vi.) Convert the group column to a integer data type and view the results. What happens?

In [39]:
#they all became null because the groups cannot be converted to integers
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

vii.) Convert the n column to a integer data type and view the results. What happens?

In [40]:
#rounds to nearest integer
df.select(df.n.cast('int')).show()

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

viii.) Convert the abool column to a string data type and view the results. What happens?

In [41]:
#turned them into strings
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

4.) Built In Functions

i.) Use the starter code above to re-create a spark dataframe.

In [42]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

ii.) Import the necessary functions from pyspark.sql.functions

In [43]:
from pyspark.sql.functions import sum, mean, concat, lit, regexp_extract, regexp_replace, when, max, min

iii.) Find the highest n value.

In [44]:
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

iv.) find the lowest n value

In [46]:
df.select(min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+